/**
 * VARIABLES
 */
/*
 *
 * TYPOGRAPHY FONTS
 *
*/
@font-face {
  font-family: 'titillium_web';
  src: url('/fonts/titilliumweb-black-webfont.eot');
  src: url('/fonts/titilliumweb-black-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/titilliumweb-black-webfont.woff') format('woff'), url('/fonts/titilliumweb-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/*
* Custom Mixin's
*
*/
.navigation li {
  list-style-type: none;
  float: left; }

.navigation li:hover {
  text-decoration: none; }

/*
 *
 * GLOBAL STYLES
 *
*/
body {
  font-family: 'titillium_web';
  font-weight: 300;
  background-color: #dedede; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'titillium_web';
  font-weight: 300; }

#topNav {
  display: block;
  height: 115px;
  padding: 0;
  overflow: hidden;
  background-color: #222222; }

#navLogo {
  float: left;
  width: 135px;
  height: 96px;
  margin: 10px 0 0 15px;
  background-image: url('/images/logo/swindon-7s.svg');
  background-repeat: no-repeat;
  background-position: center; }

.no-svg #navLogo {
  background-image: url('/images/logo/swindon-7s.png'); }

#mainNav {
  float: right;
  min-width: 650px;
  height: 100%;
  margin: 0;
  padding: 0; }

#mainNav li {
  position: relative;
  width: 20%;
  height: inherit;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out; }

#mainNav li:hover {
  background-color: black; }

#mainNav li a {
  position: absolute;
  color: white;
  width: 100%;
  padding: 10px 5px 6px;
  left: 0;
  right: 0;
  bottom: 0; }

#middleSection {
  padding: 0;
  min-height: 650px;
  background-color: white; }

#middleSection .join-strip {
  height: 70px;
  background-color: white; }

#middleSection .join-strip h2 {
  display: block;
  margin: 0;
  padding: 10px 0 0 25px; }

#middleSection .join-strip h2 span {
  color: grey; }

#middleSection .join-strip .media-links {
  float: right;
  height: 100%; }

#middleSection .bottom-adv {
  height: 250px;
  text-transform: uppercase; }

#middleSection .bottom-adv article {
  height: 100%;
  padding: 20px 25px 0; }

#middleSection .bottom-adv article h3 {
  margin: 0;
  line-height: 42px;
  font-size: 40px; }

#middleSection .bottom-adv article h3 span {
  display: block;
  width: 100%; }

.yellow-blue {
  color: #222222;
  background-color: #f6f780; }

.yellow-blue span {
  color: #3fcdfd; }

.blue-yellow {
  color: black;
  background-color: #3fcdfd; }

.blue-yellow span {
  color: white; }

#footerSection {
  display: block;
  height: 70px; }

#footerSection .link-section {
  overflow: hidden;
  margin: 0 auto; }

#footerSection .link-section.dark {
  background-color: #222222; }

#footerSection .link-section.light {
  background-color: #3fcdfd; }

#footerSection .link-section ul {
  display: block;
  height: 40px;
  margin: 0 auto;
  padding-top: 8px; }

#footerSection .link-section ul li {
  width: auto;
  padding: 0 8px;
  text-transform: uppercase; }

#footerSection .link-section ul li a {
  color: white; }

#footerSection .sosuime {
  height: 30px;
  background-color: #4d4d4d; }

#homePromo {
  height: 350px; }

#homePromo #homeSlider {
  list-style-type: none;
  margin: 0;
  height: 350px;
  width: 91.66667%;
  background-color: rgba(0, 255, 246, 0.41); }

#homePromo .promo-date {
  position: relative;
  height: 350px;
  overflow: hidden;
  background-color: #f6f780; }

#homePromo .promo-date h2 {
  width: 350px;
  position: absolute;
  bottom: -10px;
  left: 14px;
  background: none;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0; }
