input.button{
	background-color:$site-blue;

		&:hover{
			background-color:darken($site-blue, 15%);
		}
}

.rfc{
	background-color:$site-blue;

		&:hover{
			background-color:darken($site-blue, 15%);
		}
}


.swindon-btn{
	background-color:$site-blue;
	@include border-radius(5px);

		&:hover{
			background-color:darken($site-blue, 15%);
		}
}

.big-ol{
	display: block;
	color:$white;
	background-color:$site-blue;

	width: 80%;
	height: auto;

	margin: 25px 10%;
	padding: 55px;

	@include font-size(9.1,9.1);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900 !important;
	text-transform:uppercase;

		&:hover{
			background-color:darken($site-blue, 15%);
		}

		&.need-logo{
			@include font-size(6,6);
			padding: 30px;
			margin-top: 110px;
		}
}