/*
* Custom Mixin's
*
*/


//==============================> Breakpoint Mixin
// @mixin breakpoint($point) {
//     @if $point == titanic-bear {
//         @media (min-width: 1600px) and (max-width: 2562px) { @content; }
//     }
//     @else if $point == neil-bear {
//         @media (min-width: 768px) and (max-width: 2562px) { @content; }
//     }
//     @else if $point == title-bear {
//         @media (min-width:992px) and (max-width: 1199px) { @content; }
//     }
//     @else if $point == matt-bear {
//         @media (max-width: 1199px) { @content; }
//     }
//     @else if $point == papa-bear {
//         @media (max-width: 991px) { @content; }
//     }
//     @else if $point == mama-bear {
//         @media (max-width: 767px) { @content; }
//     }
//     @else if $point == baby-bear {
//         @media (max-width: 480px)  { @content; }
//     }
// }

//==============================> Keyframes Mixin
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}

// Placeholder @mixin for Sass
//
// A mixin to style placeholders in HTML5 form elements.
// Includes also a .placeholder class to be used with a polyfill e.g.
// https://github.com/mathiasbynens/jquery-placeholder
// Requires Sass 3.2.
//
// Example usage (.scss):
// 
// input {
//   @include placeholder {
//     /* styles for placeholder here */
//   }
// }
//
 
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

//==============> Custom Mixin's
@mixin zero{
    margin:0;
    padding:0;
}

// Sorts Out Font-Vertical Alignment + Fallback
@mixin font-size($size:1.6, $line: $size * 1.5){
    line-height: ($line * 10) + px;
    font-size:   ($size * 10) + px;
}

// Fall Back for RGBA -> (RGB / HEX)
@mixin rgba-bg($color, $opacity) {
    background-color: $color;
    background-color: rgba($color, $opacity);
}
