.navigation li{
    list-style-type: none;
    float: left;

        &:hover{
            text-decoration:none;
        }
}

// REMOVE PLACEHOLDER POLLYFILL CODE
input, textarea{
    .placeholder{
        color:#000;
    }
}


.no-select{
	@include user-select(none);
}

@mixin grid-sides{
	margin-left: 0.9375rem;
	margin-right: 0.9375rem;
}