/**
 * VARIABLES
 */


// COLOURS

$white:rgb(255,255,255);
$black:rgb(0,0,0);

$font-black:rgb(34,34,34);

$site-yellow:rgb(246,247,128);
$site-blue:rgb(63,205,253);
$site-red:rgb(255, 27, 27);
$site-grey:rgb(128,128,128);

// BUTTON BLUE
$button-blue:rgb(51,204,255);

// TOP NAVIGATION
$topNav-height:115px;
$topNav-bg:rgb(34,34,34);

// SITE FOOTER
$sosuime-bg:rgb(77,77,77);