#footerSection{
	display: block;
	min-height: 70px;

		.link-section{
			overflow: hidden;
			margin:0 auto;
			background-color:$topNav-bg;

				ul{
					display: table;
					height: 40px;
					margin: 0 auto;
					padding: 12px 0;

						li{
							width: auto;
							padding: 0 8px;
							font-weight: 300;
							text-transform:uppercase;
							border-left:2px solid $white;
							// @media #{$medium-down}{
							// 	padding:3px 0;
							// 	border:none;
							// 	text-align:center;
							// }
							// @media #{$medium-only}{
							// 	width: 50%;

							// 		&:last-child{
							// 			width: 100%;
							// 		}
							// }
							// @media #{$small-only}{
							// 	width: 100%;
							// }

								&:first-child{
									border:none;
								}

								a{
									color:$white;
									width: 100%;
								}
						}
				}
		}

		.sosuime{
			min-height: 32px;
			padding-top:7px;
			padding-bottom: 7px;
			margin-bottom: 5px;
			color:$white;
			font-weight: 300;
			text-transform:lowercase;
			background-color:$sosuime-bg;

				a, aside{
					color:$white;
				}

				aside{
					width: 50%;
					padding: 0;
					// @media #{$small-only}{
					// 	width: 100%;
					// 	padding-bottom: 5px;
					// }

						a{
							font-weight: 300;
						}

						&.contact-email{
							text-align:right;
						}
				}

				#BravedogShareLink{
					font-weight: bold;
					text-transform:uppercase;
				}
		}
}