#topNav{
	display: block;
	height:$topNav-height;
	padding: 0;
	overflow: hidden;
	background:{
		color:$topNav-bg;
	}	
}

// NAVIGATION

#navLogo{
	float: left;
	width: 135px;
	height:96px;
	margin:10px 0 0 15px;
	overflow: hidden;
	background: url(/images/logo/swindon-7s.svg) center no-repeat;

		.no-svg &{
			background:{
				image:url(/images/logo/swindon-7s.png);
			}
		}
}

#mainNav{
	display: table;
	float: right;
	height:$topNav-height;
	@include zero;
	@include mainNav;

		li{
			display: block;
			display: inline-block;
			height:$topNav-height;
			float: left;
			text:{
				align:center;
				transform:uppercase;
			}
			@include transition(background-color .2s ease-in-out);

				&:hover{
					background:{
						color:$black;
					}
				}

					a{
						display: block;
						color:$white;
						height: $topNav-height;
						padding:88px 15px 0;
					}
		}
}