/*
 *
 * TYPOGRAPHY FONTS
 *
*/

// Titillium Web Font
@mixin titillium_web{
	font:{
		family: 'Titillium Web', sans-serif;
		weight: 700;
	}
}


h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 900;
    text-transform:uppercase;
}

h1{
    @include font-size(8.8,6.8);
}

h2{
    @include font-size(5.5,5);
}

h3{
    @include font-size(5.5,5);
}


/*
 *
 * COLOUR CLASSES
 *
*/

.blue-fnt{
    color:$site-blue;
}

.red-fnt{
    color:$site-red;
}

.yellow-fnt{
    color:$site-yellow;
}

.white-fnt{
    color:$white;
}

.grey-fnt{
    color:$site-grey;
}


/*
 *
 * NAVIGATION FONTS
 *
*/

@mixin mainNav{
    a{
        // TEST
    }
}