#promoCanvas.contact-header{
	height: auto;

	.title-container{
		width: 100%;
			
			h1{
				$even-margin:40px;

				margin-top:$even-margin;
				margin-bottom:$even-margin;
				@include font-size(9,7);

					span{
						@include font-size(9.5,8.8);
					}
			}
	}

	.social-media{
		bottom: 49px;
		right: 35px;
	}
}

#gmap{
	$set-height:425px;

	height:$set-height;
	min-height:$set-height;
	width: 100%;
	padding: 0;
	background-color:rgb(251, 251, 251);

		img{
			max-width: none;
		}

		iframe{
			width: 100%;
			height: $set-height;
			border:none;
		}
}

#contactform{

	&.contactpage{
		input, textarea{
			border:none;
		}

		textarea{
			margin: 0 0 15px 0;
			max-width: 505px;
			max-height: 200px;
		}
	}

}

.contact-info{
	$equal-top:40px;
	$equal-side:80px;

	width: 100%;
	min-height: 340px;
	overflow: hidden;
	background-color:$white;

		ul{
			list-style-type: none;
			padding-left: 0;
			font-weight: 300;
			@include font-size(2.6,2.6);
		}

		.address-breakdown{
			padding:$equal-top 0 0 $equal-side;
			
				ul{
					margin: 0;
					display: table;

						li{
							padding:5px 0;

								span{
									font-weight: 900;
									letter-spacing: 1px;
								}
						}
				}
		}

		.contact-form{
			padding:$equal-top $equal-side 0 0;

				.full{
					width: 100%;
				}

				.half{
					width: 50%;

						&.force-me{
							width: 48%;
							margin-right: 2%;
						}
				}

				input, textarea{
					float: left;
					display: inline-block;
					height: 55px;
					padding:5px 10px;
					border:none;
					outline:0;
					margin-bottom: 2%;
					background-color:rgb(242,242,242);
					font-weight: 300;
					@include border-radius(2px);
					@include font-size(2,2.3);
					@include placeholder{
						text-transform:uppercase;
					}
				}

				textarea{
					height:55px * 2;
					max-height: 505px;
					padding-top: 15px;
				}

				form{
					overflow: hidden;
					margin-bottom: 30px;
				}

				#submit{
					color:$white;
					font-weight: 400;
					background-color:$site-blue;

						&:hover{
							background-color:darken($site-blue, 15%);
						}
				}
		}		
}

#message{
	.error_messages{
		margin:5px 0 20px 15px;
		padding-left: 15px;

			li{
				@include font-size(1.8,2);

					&:before{
						content: "";
						border-color: rgba(0, 0, 0, 0) rgb(17, 17, 17);
						border-style: solid;
						border-width: 0.25em 0 0.25em 0.45em;
						display: block;
						height: 0;
						width: 0;
						left: -1em;
						top: 0.9em;
						position: relative;
					}
			}
	}

	#success_page{
		h1{
			margin: 0;
			@include font-size(5,4.5);

				span{
					color:$site-blue;
				}
		}

		p{
			font-weight: 300;
		}
	}
}