.festival-list{
	$force-height:600px;

	overflow: hidden;

		.links{
			margin: 0;
			min-height:$force-height;
			background-color:$white;
			padding-top: 30px;

				li{
					display: inline-block;
					width: 100%;
					height:60px;
					margin:0 0 0 10px;
					overflow: hidden;

						&.ui-tabs-active a{
							color:$black
						}

						// TARGET IE ONLY
						.ie8 &{
							margin: 0;
						}

							// REMOVE THAT DAMN LINE
							*, &{
								outline:none;
							}

							a{
								color:lighten($sosuime-bg, 20% );
								font-weight: 900;
								@include font-size(5.4,5);

									// TARGET IE ONLY
									.ie8 &{
										@include font-size(4,4.5);
									}
							}
				}
		}

		.festival-breakdown{
			height:$force-height;
			min-height:$force-height;
			border-left:8px solid transparent;
			overflow: scroll;
			@include zero;
			list-style-type: none;

				// TARGET IE ONLY
				.ie8 &{
					$force-height:612px;

					height:$force-height;
					min-height:$force-height;
				}
		}

		.festival-item{
			background-color:$white;
			height:$force-height;
			overflow: hidden;
			padding: 25px 50px 20px 15px;

				// TARGET IE ONLY
				.ie8 &{
					$force-height:612px;
					
					height:$force-height;
				}

				ul{
					display: block;
					margin:5px 0 15px 0;

						li{
							font-weight: 400;
						}

						&.special-border li{
							font-weight: 300;
							list-style-type: none;
							@include font-size(1.6,1.4);

								&:before {
								    content: "";
								    border-color: transparent #111;
								    border-style: solid;
								    border-width: 0.35em 0 0.35em 0.45em;
								    display: block;
								    height: 0;
								    width: 0;
								    left: -1em;
								    top: 0.9em;
								    position: relative;
								}
						}
				}

				strong{
					@include font-size(2,2.6);
					margin-bottom: 5px;
				}

				img{
					display: block;
					margin: 0 auto;

						&.force-bottom{
							margin-bottom: 15px;
						}
				}

				p{
					margin: 0 0 20px;
					font-weight: 300;
					@include font-size(1.8,2.4);

						a{
							font-weight: 600;
						}
				}

				.big-ol{
					margin-top: 90px;
					@include font-size(7.1,7.1);
				}
		}
}


#social-stream{
	&.dcsns{
		background-color:$white;

			li{
				&:before{
					content:initial;
					border:none;
				}
			}
	}
}