#gallery__wrapper{

	@at-root #gallery__inner{
		// na

			a{
				display: block;
				position: relative;
				padding: 0;
				min-height: 219px;

					&:last-child{
						float: left !important;
					}

					&:hover:after{
						background-color:rgba(1,217,255,.7);
					}

					&:after{
						content:'';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						background:transparent;
						transition:background-color .4s ease-in;
						pointer-events:none;
					}
			}
	}
}