// #homePromo{
// 	height:350px;

// 		#homeSlider{
// 			list-style-type: none;
// 			margin: 0;
// 			height:350px;
// 			width: 91.66667%;

// 			background-color: rgba(0, 255, 246, 0.41);

// 				li{
// 					width: 100%;
// 					overflow: hidden;
// 				}

			
// 		}

// 		.promo-date{
// 			position: relative;
// 			height:350px;
// 			overflow: hidden;
// 			background-color:$site-yellow;

// 				h2{
// 					width: 350px;
// 					position: absolute;
// 					bottom: -10px;
// 					left: 14px;
// 					background: none;
// 					text-transform:uppercase;
// 					-webkit-transform: rotate(-90deg);
// 					-webkit-transform-origin: 0 0;
// 				}
// 		}
// }

[data-page="home"]{
	.sponsor-table{
		height: 100px;
		overflow: hidden;

			.child-blk{
				height: 100px;

					img{
						top: 55px;
						height: 80px;
						width: auto;
						margin-left: -120px;
					}
			}
	}
}