#middleSection.payment-complete{
	background-color:$white;

		h1, h2, h4{
			display: inline-block;
			width: 100%;
			text-align:center;
			padding: 0 30px;
		}

		h1{
			margin-top: 80px;
			@include font-size(5.5,5.5);
		}

		.explain{
			margin-bottom: 30px;
			@include font-size(2.4,3.2);
		}

		.access-url{
			@include font-size(2.6,3);
		}
}