#middleSection.register{
	background-color:$white;

		h1{
			margin:30px auto 60px;
			text-align:center;
		}
}

#contactform{

	&.registerpage{
		padding: 0 30px;

			textarea{
				margin:15px 0 0 0 !important;
			}

			#paypalBtn{
				text-transform:uppercase;
			}

			#submit{
				float: left;
				color:$white;
				font-weight: 400;
				margin-top: 30px;
			}

			.team-name{
				margin-right: 1%;
			}

			.loader{
				float: left;
				margin: 45px 0 0 20px;
			}
	}

}


.team-info{
	input{
		float: left;
		width: 49.5%;
		height: 40px;

			.team-name{
				margin-right: 1%;
			}
	}

	textarea{
		min-height: 150px;
	}
}

.team-members{
	overflow: hidden;

		input, textarea{
			float: left;
			width: 49.5%;
			margin: 0 0 15px 0;

				&:nth-child(odd){
					margin-right:1%;
				}
		}

		textarea{
			min-height: 200px;
		}
}

#message.regform{
	width: 60%;
	margin: 0 auto 0;

		.error_message{
			padding-bottom: 30px;
				h1{
					text-align:center;
					margin:0 0 15px 0;
					@include font-size(2.2);
				}

				ul{
					padding-left: 20px;
					margin-bottom: 0;
				}
		}

		#success_page{
			display: inline-block;
			width: 100%;
			margin: 60px 0 30px;

				
		}

		ul{
			list-style-type: none;
		}
}