.title-container{
	display: block;
	width:500px;

		h1{
			margin:65px 0 0 40px;
			@include font-size(7,6);

				// LEAD COLOURED WORD
				> span{
					@include font-size(15,12);
				}
		}
}

.sponsor-table{
	.columns{
		padding: 0;
	}
	[class*="-blk"]{
		min-height: 150px;
	}
	.top-blk{
		@include transition(background .6s ease-in-out);

		.title{
			margin:0;
			padding-top:65px;
			text-align:center;
			@include font-size(3.2,3.2);
		}

		&.our-sponsors{
			color:rgb(102,102,102);
			background-color:rgb(242,242,242);
		}

		&.become-a-sponsor{
			color:rgb(230,230,230);
			background-color:rgb(179,179,179);

				&:hover{
					background-color:$site-blue;
				}
		}

		&.partner{
			color:$white;
			background-color:rgb(102,102,102);
		}
	}

	.child-blk{
		position: relative;
		background-color:$white;
		border-top:1px solid rgb(233,233,233);
		border-left:1px solid rgb(233,233,233);

			.sponsor-logo{
				$logo-width:300px;
				$logo-height:100px;

				display: block;
				// SIZE
				width:$logo-width;
				height:$logo-height;
				// POSITION
				position: absolute;
				top: 50%;
				left: 50%;
				margin:-($logo-height / 2) 0 0 (-$logo-width / 2);
			}
	}

	img{
		border:none;
	}
}