#middleSection.terms-conditions{
	height: auto;
	padding: 0 30px 15px;
	background-color:$white;
	overflow: hidden;

		h1{
			@include font-size(5.8,4.8);
		}

		p{
			font-weight: 300;
			@include font-size(1.8,2.4);
		}
}