.site-error{
	background-color:$white;

		h1, h2, h3{
			display: inline-block;
			text-align:center;
			width: 100%;
		}
}

.error-code{
	margin:170px auto 40px;
}

.explain{
	margin:0 auto;
}

.access-url{
	&, a{
		color:rgb(77,77,77);
	}
}

