/*
 *
 * GLOBAL STYLES
 *
*/



body{
	@include titillium_web;
	background:rgb(222,222,222);
	// @media #{$large-up}{
		background:{
			image:url(/images/site-bg.jpg);
			position:center top;
			repeat:no-repeat;
		}
	// }

		.no-svg &{
			font-family:'Arial', 'Titillium Web', sans-serif;
		}

		> .row{
			padding-left: 15px;
			padding-right: 15px;

			// NON RESPONSIVE
			width: 1200px !important;
			max-width: 1200px !important;
		}

		.row{
			// 1200px
			// @media #{$xlarge-up}{
			// 	max-width: 75em;
			// }

			// @media (min-width:62em) and (max-width:74.938em){
			// 	max-width: 62em;
			// }
			// @media (min-width:48em) and (max-width:62em){
			// 	max-width: 62.875em;
			// }
		}



		// TEMP FIX UNTILL PRECISION IS FIXED !!
		.large-4{
			width: 33.3333333332%;
		}
}

a{
	color:$font-black;
	text-decoration:none;
}


// MIDDLE SECTION

#middleSection{
	padding: 0;
	min-height:550px;

		&.news{
			padding: 30px 14px;
			background-color:$white;
		}
}

.small-break-down{
	margin-bottom: 10px;
}
.small-break-up{
	margin-top: 10px;
}

#social-stream{
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

#dcsns-filter{
	display: table;
	width: auto;
	margin:0 auto 15px;
}

#promoSlider{
	$home-promo-height:440px;

	position: relative;
	height:$home-promo-height;
	overflow: hidden;
	@media #{$medium-down}{
		height: auto;
	}

		#heroSlider{
			float: left;
			height:$home-promo-height;
			width: 100%;
			@include zero;
			overflow: hidden;
			list-style-type: none;
			background-color:rgb(143,143,143);

				li{
					height: inherit;
					width: 100%;
					padding: 0;
					@include background-size(cover);
					background:{
						repeat:no-repeat;
						position:center left;
					}
				}

				.button{
					text-transform:uppercase;

						&.rfc{
							margin-top: .5rem;
							padding: 15px 25px;
						}
				}

				.slider-content{
					width: 40%;
					margin:60px 0 0 40px;
					z-index: 120;

						.slider-heading{
							color:$white;
							margin: 0 0 15px 0;
							@include font-size(9,7.4);
							@extend .button;

								span{
									width: 100%;
									display: inline-block;
								}
						}
				}
		}

		.hero-pager{
			$specific-square:24px;

			display: block;
			height:$specific-square;
			width: 200px;
			overflow: hidden;
			position: absolute;
			bottom: 40px;
			left:55px;
			z-index: 120;
			// FONT MAKES IT A CIRCLE
			font-family: arial;

				span{
					display: inline-block;

					width:$specific-square;
					height:$specific-square;

					margin-left:6px;

					background-color:$white;
					border:3px solid $white;
					@include border-radius(50%);

					// MEH HIDE FULL-STOP
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;

					// FORCE HOVER UI
					cursor: pointer;

						&:first-child{
							margin-left: 0;
						}

						&.cycle-pager-active{
							background-color:$site-blue;
						}

				}
		}

		.promo-date{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			height:$home-promo-height;
			width: 80px;
			overflow: hidden;	
			background-color:$site-yellow;
			z-index: 999;
			// @media #{$medium-down}{
			// 	position: static;
			// 	width: 100%;
			// 	min-height: 80px;
			// 	height: auto;
			// }
			// @media #{$small-only}{
			// 	margin-bottom: 10px;
			// }

				.no-svg &{
					background:url(/images/swindon7s-date.png) center no-repeat;

						.rotated-date{
							display: none;
						}
				}

				.svg &{
					.rotated-date{
						background: none;
						text-transform:uppercase;
						margin: 0;
						@include font-size(3.6,3.6);
						// @media #{$large-up}{
							width: $home-promo-height;
							position: absolute;
							bottom:0;
							left:19px;
							@include transform(rotate(-90deg));
							-webkit-transform-origin: 0 0;
							transform-origin: 0 0;
						// }
						// @media #{$medium-down}{
						// 	display: inline-block;
						// 	width: 100%;
						// 	margin-top: 11px;
						// 	text-align:center;
						// }

					}
				}
		}
}

#contactform{

	form{
		overflow: hidden;
	}

	h3{
		margin: 30px 0;

			&.text-center{
				text-align:center;
			}
	}
	input, textarea{
		padding: 8px 10px;
		outline:0;
		border:1px solid lighten($black, 60%);
		color:$black;
		@include font-size(1.4,1.6);
		@include placeholder{
			color:lighten($black, 40%);
			text-transform:uppercase;
		}
	}

	textarea{
		display: inline-block;
		width: 100%;
		padding:15px 10px;
		max-width: 1140px;
	}

	#submit{
		outline:0;
		padding:17px 32px;
	}

	.loader{
		float: left;
	}

}

#promoCanvas{
	position: relative;
	height: 330px;
	overflow: hidden;
	background-color:$white;

		.social-media{
			$sprite-square:35px;

			position: absolute;
			bottom:$sprite-square - 20;
			right:$sprite-square - 20;
			width:($sprite-square * 2) + 5px;

				a{
					display: inline-block;
					float: left;
					height: $sprite-square;
					width: $sprite-square;
					margin-left: 5px;

						&:first-child{
							margin-left: 0;
						}

						&.join-strip-twitter{

							// Default Created from sprite generation

							.svg &{
								background:inline-image("promoCanvas/twitter.svg") center;
							}

						}

						&.promoCanvas-facebook{
							
							// Default Created from sprite generation

							.svg &{
								background:inline-image("promoCanvas/facebook.svg") center;
							}
							
						}
				}
		}
}

.join-strip{
	height:110px;
	overflow: hidden;
	background:{
		color:$white;
	}

		h2{
			display: inline-block;
			margin: 0;
			padding:30px 0 0 30px;
			@include font-size(5.5,5.5);

				span{
					text-transform: none;
				}

		}

		// MAIL CHIMP CUSTOM CSS OVERRIDE
		#mc_embed_signup{
			$global-height:38px;

			display: inline-block;
			height:$global-height;
			width: 390px;
			margin-left: 15px;

				form{
					display: inline-block;
					position: relative;
					width: auto;
					height:$global-height;
					margin-left: 30px;
					padding: 0;
					overflow: hidden;
				}

				input{
					float: left;
					margin: 0;
					outline:0;
					height:$global-height;
					@include border-radius(0);

						&.email{
							max-width: 230px;
							padding: 8px;
							border: 1px solid rgba($site-grey, 0.5);
							border-right:none;
							@include font-size(1.8,1.8);
						}

						&.button{
							padding: 0 15px;
						}
				}
		}

		.media-links{
			float: right;
			height: 100%;
			padding-top: 30px;
			margin-right: 30px;

				a{
					display: inline-block;

					$sprite-square:52px;

					height: $sprite-square;
					width: $sprite-square;
					margin-left: 10px;

					background-repeat:no-repeat;

						&:first-child{
							margin-left: 0;
						}

						&.join-strip-black-vimeo{

							// Default Created from sprite generation

							.svg &{
								background:inline-image("join-strip/black-vimeo.svg") center;
							}

						}

						&.join-strip-black-twitter{
							
							// Default Created from sprite generation

							.svg &{
								background:inline-image("join-strip/black-twitter.svg") center;
							}
							
						}

						&.join-strip-black-facebook{
							
							// Default Created from sprite generation

							.svg &{
								background:inline-image("join-strip/black-facebook.svg") center;
							}
							
						}
				}
		}
}



.bottom-adv{
	height: 250px;
	text:{
		transform:uppercase;
	}

		article{
			height: 250px;

			$padding-sideways:35px;

			padding-left:$padding-sideways;
			padding-right:$padding-sideways;
			// @media #{$small-only}{
			// 	height: auto;
			// }
			// @media #{$medium-down}{
			// 	margin:8px 0 5px;
			// 	padding: 35px 15px;
			// 	text-align:center;
			// }

				// &#logo{
				// 	@media #{$medium-down}{
				// 		background-color:#fff;
				// 	}
				// }

				h3{
					margin:0;
					
						.no-svg &{
							@include font-size(4.5,4.5);
						}

						span{
							display: block;
							width: 100%;
						}
				}
		}
}

.yellow-blue{
	padding-top: 55px;
	color:$font-black;
	background:{
		color:$site-yellow;
	}

		h3{
			@include font-size(6.4,5);
		}
}

.blue-white{
	padding-top: 60px;
	color:$black;
	background:{
		color:$site-blue;
	}

		h3{
			@include font-size(5.4,5);
		}
}



.bottom-panel{
	max-height: 260px;
	background-color:$white;
	overflow: hidden;

		.massive-text{
			margin:18px 0 0 44px;

				span{
					width: 100%;
					display: inline-block;
				}
		}
}